.container-controlcuenta {
    background-color: #ffffff;
    border-radius: 10px;
    /* padding: 20px; */
    width: 90%;
    border: 1px solid #ccc;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.inner-box-controlcuenta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem;
    width: 90%;
    margin: 0 auto;
}

.container-datos-controlcuenta {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    box-shadow: 0px 0px 5px #dcdcdc;
    padding: 20px;
    height: 60%;
    width: 80%;
    margin: 0 auto;
}

.title-control-cuenta {
    color: #2196F3;
    font-size: 2.125rem;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    line-height: 1.235;
}

.container-title-cuentapax {
    display: flex;
    text-align: center;
}

.title-control-cuentapax {
    color: #2196F3;
    font-size: 2.125rem;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    line-height: 1.235;
}

#tabla-componente {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#tabla-componente th,
#tabla-componente td {
    padding: 10px;
    text-align: left;
    border: 1px solid #dcdcdc;
}

#tabla-componente th {
    background-color: #f1f1f1;
    font-weight: bold;
}

.info-table {
    margin-bottom: 20px;
}

.info-table td {
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.abono-table {
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 100%;
}

.abono-table td {
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.abono-input {
    width: 100%;
    padding: 5px;
}

.abono-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}