.tabla-reservas {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.tabla-reservas th,
.tabla-reservas td {
    border: 1px solid #ddd;
    padding: 2px;
}

.tabla-reservas th {
    text-align: center;
    color: #01579B;
    font-size: 18px;
    overflow: hidden;
}

.tabla-reservas th:first-child,
.tabla-reservas td:first-child {
    font-weight: bold;
    white-space: nowrap;
    width: 100px;
    padding: 10px 5px 5px 10px;
}

.tabla-reservas th:not(:first-child),
.tabla-reservas td:not(:first-child) {
    overflow: hidden;
    text-overflow: ellipsis;
}


.tabla-reservas tbody tr:nth-child(even) {
    background-color: #f7f9f6;
}

.container-calendario-reservas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF
}

.tabla-calendario-reservas {
    background-color: #ffffff;
}

.title-tabla-registro {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    line-height: 1.235;
}

.title-tabla-registro-v2 {
    text-align: center;
    font-size: 3rem;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    line-height: 1.235;
}

.subtitle-tabla-registro {
    color: #01579B;
    display: flex;
    justify-content: space-between;
    /* Coloca los elementos al extremo derecho y al centro */
    align-items: center;
    /* Centra verticalmente los elementos */
}

.subtitle-tabla-registro-right {
    display: flex;
    flex-grow: 1;
    margin-bottom: 5px;
}

.subtitle-item {
    margin-bottom: 5px;
    /* Espacio entre los elementos */
}

.subtitle-tabla-registro-right>h2 {
    margin-left: 50px;
}

.subtitle-tabla-registro>h2 {
    margin: 0;
    flex: 1;
}

.tabla-estatus {
    width: 200px;
    margin: 20px;
}

.tabla-estatus-title {
    display: block;
    color: #01579B;
    margin: 30px 0 30px 60px;
}

.tabla-estatus-subtitle {

    flex-direction: row;
    justify-content: space-around;
}

.tabla-estatus-subtitle>th {
    align-items: center;
}

.button-group {
    display: flex;
    align-items: center;
    /* Alinear verticalmente los botones si es necesario */
}

.tabla-reservas {
    table-layout: fixed;
    width: 100%;
}

.tabla-reservas td {
    width: calc(100% / NUMBER_OF_COLUMNS);
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabla-calendar-td {
    font-size: small;
    color: #01579B;
}

.tabla-calendar-tr {
    font-size: small;
    color: white
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.nombre-completo {
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 7px;
    white-space: nowrap;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1002;
}

.close-icon {
    cursor: pointer;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    /* Coloca el título a la izquierda y el icono a la derecha */
    align-items: center;
    /* Centrar verticalmente ambos elementos */
    width: 100%;
    /* Asegurarse de que ocupa todo el ancho */
    margin-bottom: 10px;
}

.modal-icon {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.modal-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* Centrar horizontalmente los botones */
}

.highlighted-header {
    background-color: #ceefff;

    /* Color gris oscuro */
    color: white;
    /* Texto en blanco para que sea legible en el fondo oscuro */
    font-weight: bold;
    /* Texto en negrita para resaltarlo aún más */
}

.td-tabla-estatus {
    padding: 0.20em;
}

.td-tabla-box {
    padding: 0.70em;
}


.subtitle-tabla-registro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtitle-tabla-registro-right {
    color: #2196F3;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra horizontalmente el mes */
    text-align: center;
    /* Centra el texto horizontalmente */
    margin-left: 30%;
}

.buttons-table-calendar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 0 15px 15px;
    margin-right: 10%;
}

.combined-button {
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.combined-button:last-child {
    margin-right: 0;
}

/* .buttons-table-calendar {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    margin-top: 10px;
} */