.containerCheckoutPage {
    width: 90%;
    background-color: #ffff;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 20px;
}

.containerAddressForm {
    background-color: #ffff;
    margin: auto;
    width: 70%;
    border-radius: 8px;
}

.titleFormCheckout {
    margin-top: 20px;
    padding-top: 30px;
}

.titleFormCheckout2 {
    display: flex;
    align-items: center;
    padding-top: 40px;
    color: #2196F3;
    font-size: 4.125rem;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    line-height: 1.235;
}

.centerText {
    flex-grow: 1;
    /* Hacer que el Typography ocupe todo el espacio disponible */
    text-align: center;
    /* Centrar horizontalmente */
}